@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
}



/*customer list page design*/

.content{
    display:flex;
    flex-wrap: wrap;
  }
  .main{
    flex: 4 45rem;
  }
  .sidebar{
    flex: 1 10rem;
    background-color: gainsboro;
  }



/*table*/

.list {
    width: 100%;
    padding-top: 100px;
    padding-left: 100px;
    color: #3a8fd2;
  }
  #customers{
    width: 1400px;
    border-collapse: collapse;
  }
  #customers th{
      border-bottom: 0.2rem #3a8fd2 solid;

  }

  .hiddenBorder{
    border:none !important;
  }
 
  td {
    padding: 1rem;
  }
  th {
    text-align: left;
  }
  .round {
    text-align: center;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
    border: 1px #3a8fd2 solid;
    
   
    
  }

  /*button*/
  
  .button {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 3px;
    background-color: white;
    color: #3a8fd2;
    border-color: #3a8fd2;
    font-weight: 600;
    cursor: pointer;
  }
  .button:hover {
    border: 0.1rem #808080 solid;
  }
  .button.big {
    display: block;
    width: 80%;
    padding: 14px 28px;
    margin: 3rem 0.5rem;
    font-size: 1.6rem;
    text-align: center;
  }
 
.button.small{
  display: inline-flex;
  width: 40%;
  padding: 8px 18px;
  margin: 0.5rem;
}