@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
}



/*customer list page design*/

.content{
    display:flex;
    flex-wrap: wrap;
  }
  .main{
    flex: 3 45rem;
  }
  .sidebar{
    flex: 1 10rem;
    
    
  }



/*table*/

.list {
    width: 90%;
    padding-top: 100px;
    padding-left: 100px;
    color: #3a8fd2;
  }
  #customers{
    width: 1300px;
    border-collapse: collapse;
  }
  #customers th{
      border-bottom: 0.2rem #3a8fd2 solid;

  }
  .table-link{
    text-decoration: none; 
  }
  .hiddenBorder{
    border:none !important;
  }
 
  td {
    padding: 1rem;
    text-align: left;
    
  }
  th {
    text-align: left;
  }
  .round {
    text-align: center;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
    border: 1px #3a8fd2 solid;
    
  
   
    
  }

  /*button*/
  
  .button {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 3px;
    background-color: white;
    color: #3a8fd2;
    border-color: #3a8fd2;
    font-weight: 600;
    cursor: pointer;
  }
  .button:hover {
    border: 0.1rem #808080 solid;
  }
  .button.big {
    display: block;
    width: 80%;
    padding: 14px 28px;
    margin: 3rem 0.5rem;
    font-size: 1.6rem;
    text-align: center;
  }
 
.button.small{
  display: inline-flex;
  width: 40%;
  padding: 8px 18px;
  margin: 0.3rem;
}

/*sidebar-form*/

.sidebar-form{
  display: flex;
  border-left: 0.2rem #3a8fd2 solid;
  align-items: center;
  height: 100%;
  color:#3a8fd2;
  
}
.form-container{
  display: flex;
  flex-direction: column;
  width:36rem;
  padding: 2rem;
  border-radius: .5rem;
  list-style-type: none;
  
}
.form-row{
  display: flex;
  justify-content: flex-end;
  padding: .5em;

  
}

input{
  padding: 1rem;
  border: .1rem #dddcdc solid;
  border-radius: .5rem;
}
input:focus {
  color: #3a8fd2;
}
.form-row > input {
  flex: 2;
  padding: .5rem;
}
.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}
form > div{
  display: flex;
  justify-content: space-between;
}
form > p {
  margin-left: 25px;
}
.close-sidebar{
 cursor: pointer;
 border: 2px #3a8fd2 solid;
 border-radius: 50%;
 padding:0.4rem;
 font-weight: bolder;
}

.radio{
  align-items: baseline;
}

.button-line{
  display: flex;
  border-top: 2px #3a8fd2 solid;
  padding-top:1.5rem;
  margin-top: 2rem;
  margin-right: 5rem;
  

}
.another{

  margin-right: 5rem;
}











/*details page design*/
.content-details{
  display:flex;
  flex-wrap: wrap;
  background-color: cadetblue;
}
.main-details{
  flex: 3 45rem;
  background-color: chartreuse;
}
.sidebar-details{
  flex: 1 10rem;
  background-color: coral;
}